//@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@import url('http://fonts.googleapis.com/css?family=Oswald');
@import "css/bourbon/bourbon"; // or "bourbon" when in Rails
@import "grid-settings";
@import "css/neat/neat";
@font-face{
    font-family: Open Sans;
    src: url('plugins/fonts/Open_Sans/OpenSans-Regular.ttf');
}



$font-stack: Open Sans, sans-serif;
$oswald: Oswald, serif;
$primary-color: #334;
$block-heading-size: 21px;
$center-width: 65%;
$black: rgb(23, 23, 23);
$grey-background: rgb(237,237, 237);
$grey-light: rgb(150, 150, 150);
$grey-title: rgb(75, 75, 75);
$placester-red: rgb(231, 86, 64);
$mobile: new-breakpoint(max-width 940px 8);




body{
    width: 100%;
    font: 8pt $font-stack;
    color: $primary-color;
    margin: 0;
    padding: 0;


    a{
        text-decoration: none;
    }


    #top-line{
        width: 100%;
        height: 2px;
        background-color: $grey-background;
    }
 

    #headers{
        @include outer-container;
        margin-bottom: 50px;
        height: 57px;

        ul{
            text-align: right;
            li{
                display: inline;
                position: relative;
            }
        }

        a{
            color: $grey-light;
        }

        #home-button{
            float: left;
            padding-top: 15px;
        }

        #accounts{
            float: right;
            border: 2px;
            border-radius: 0 0 3px 3px;
            width: 170px;
            background-color: $grey-background;
            margin-top: 0;
            margin-bottom: 15px;
            padding-top: 1px;
            padding-bottom: 3px;
            padding-right: 0;
            padding-left: 0;
            text-align: left;
            font-size: 95%;
            li{
                clear: both;
                text-align: left;
                margin-left: 18px;
            }
        }

        #social{
            paccing-top: 5px;
            clear: right;
            li{
                height: 25px;
                padding-left: 4px;
            }
            #phone-number{
                padding-right: 18px; 
                font-weight: 300;
                font-size: 1.4em;
                vertical-align: middle;
                color: $placester-red;
            }
        }
        

        #navigation{
            li{
                letter-spacing: 1px;
                font-weight: 600;
                padding-left: 15px;
            }
        }
    }

    #slideshow-wrapper{

        #featured { 
            width: 100%;
            height: 500px;
            background:  center center #f4f4f4 no-repeat; 
            overflow: hidden; 
            img{
                display: none;
            } 
        }
        #featured.orbit{ 
            background: none; 
            max-height: 550px;
            img{ 
                display: block; 
            }
        }
        .orbit-caption {
            font: 20pt $oswald;
            text-align: left;
            height: 60px;
            .caption{
                @include outer-container;
            }
        }
        div.timer { 
            display:none;
        }
        .orbit-bullets {
            display: none;
            height: 0;
            li{
                height: 0;
            }
        }
        .orbit-bullets li.has-thumb {
            height: 0;
        }
    }


    #search-background {
        width: 100%;
        background-color: $grey-background;
        margin-top: -40px;
        #search{
            @include outer-container;
            font: 10pt $oswald;
            color: $grey-title;
            padding-top: 5px;
            padding-bottom: 25px;
            margin-top: 0px;
            text-align: center;
            #search-title{
                font-weight: 400;
                font-size: 2em;
                margin: 15px 0;
            }
            .chosen-select{
                margin: 0px 5px 0px 5px;
            }
            .chosen-single{
                height: 30px;
                margin: 0px 5px 0px 5px;
            }
            .chosen-drop{
                padding-top: 10px;
                margin-top: 10px
            }
            #forms{
                padding-bottom: 27px;
                input {
                    font: 10pt $oswald;
                    padding-left: 15px;
                    height: 30px;
                    width: 30%;
                    border-radius: 3px;
                    border-style: solid;
                    border-color: $grey-background;    
                    border-width: 1px;
                }
            }
        }
        #search-button{
            font-size: 1.3em;
            color: white;
            height: 40px;
            background-color: $placester-red;
            padding: 5px 15px 5px 15px;
            border-radius: 4px;
            img{
                padding-right: 10px;
            }
        }
    }


    #featured-neighborhoods{
        @include outer-container;
        font: 10pt $oswald;
        color: $grey-title;
        margin-top: 50px;
        margin-bottom: 55px;
        #neighborhoods-title{
            color: $grey-light;
            width: 100%;
            margin-bottom: 30px;
            margin-left: 3px;
            font-size: 2em;
            font-weight: light;
        }
        .neighborhood{
            @include span-columns(3);
            img{
                width:100%;
            }
            .neighborhood-title{
                margin: 10px 0px 10px 3px;
                font-size: 1.5em;
                a{
                    color: $grey-title;
                }
                a:hover{
                    color: $placester-red;
                    text-decoration-color: none;
                }
            }
            .neighborhood-text{
                font: 8pt $font-stack;
                margin-left: 3px;
            }
        }
    }


    #properties{
        font: 10pt $oswald;
        color: $grey-title;
        text-align: center;
        clear: both;
        background-color: $grey-background;
        #properties-title{
            font-size: 2.5em;
            padding: 50px 0px 30px 0px;
        }
        #posts{
            text-align: left;
            @include outer-container;
            .post-wrapper{
                position: relative;
                padding-bottom: 35%;
                height: 0;
                margin-bottom: 25px;
                @include span-columns(4);
                @include omega(3n);
                .post{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: white;
                    img{
                        width:100%;
                    }
                    /*
                    @include media($mobile) {
                        @include span-columns(4);
                        @include omega(2n);
                    }
                    */
                    .posts-text{
                        margin-left: 25px;
                        margin-top: 15px;
                        .post-title{
                            font-size: 1.3em;
                        }
                        .post-subtitle{
                            font-weight: 300;
                            color: $grey-light;
                            font-size: 1.1em;
                            padding-bottom: 10px;
                        }
                        .post-text{
                            font: 8pt $font-stack;
                            font-weight: 300;
                            font-size: .6em;
                            color: $grey-light;
                        }
                    }
                    
                }
            }

        }

    }



    #testimonial-video{
        padding-top: 60px;
        @include outer-container;
        #video{
            @include span-columns(6);
            #video-title{
                font: 20pt $oswald;
                color: $grey-light;
                padding-bottom: 40px;
            }
            #video-text{
                padding: 30px 0px 30px 0px;
                line-height: 200%;
                color: $grey-light;
            }
            iframe{
                width: 100%;
            }
        }

        hr {
            clear: both;
            border: none;
            color: $grey-background;
            background-color: $grey-background;
            height: 1px;
        }
    }



    #social-feeds {
        @include outer-container;
        padding: 50px 0px 50px 0px;
        .social-title{
            font: 17pt $oswald;
            font-weight: 300;
            color: $grey-light;
            padding-bottom: 20px;
        }
        #instagram, #pinterest{
            text-align: left;
            @include span-columns(4);
            .picture{
                float: left;
                @include span-columns(4);
                @include omega();
                img{
                    width: 100%
                }
            }
            .social-link{
                margin-top: 50px;
                a{
                    text-decoration: none;
                    text-align: left;
                    color: $placester-red;
                }
                a:visited{
                    color: $placester-red;
                }
            }
        }
        #facebook{
            @include span-columns(4);
            .status{
                clear: both;
                height: 33%;
                .picture{
                    float: left;
                    @include span-columns(4);
                    @include omega(3n);
                    img{
                        width: 100%
                    }
                }
                .status-content{
                    float: right;
                    @include span-columns(8);
                    @include omega();
                    #status-title{
                    }
                    #status-content{
                    }
                    a{
                        text-decoration: none;
                        text-align: left;
                        color: $placester-red;
                    }
                    a:visited{
                        color: $placester-red;
                    }
                }
            }
        }
    }



    #cities-background{
        font: 10pt $oswald;
        text-align: center;
        background-color: $grey-background;
        overflow: hidden;
        clear: both;
        .cities-title{
            clear: both;
            margin: 40px 0px 40px 0px; 
            font-size: 2em;
        }

        hr {
            clear: both;
            border-top: 2px dotted;
            color: $grey-light;
        }

        .cities{
            @include outer-container;
            background-color: $grey-background;
            margin-bottom: 25px;
            li{
                text-align: left;
                display: inline-block;
                @include span-columns(2);
                @include omega(6n);
                margin-bottom: 20px;
                a{
                    color: $black;
                }
                a:hover{
                    color: $placester-red;
                    text-decoration-color: none;
                }
            }  
        }
    }

    #navigation-bottom{
        clear: both;
        background-color: $black;
        text-decoration: none;
        margin-bottom: 1px;
        padding: 20px 0;
        a{
            color: $grey-light;
            padding: 0 15px;
        }
        a:hover{
            color: white;
        }
        nav{
            font: 8pt $oswald;
            text-align: center;
        }
    }


    #social-bottom{
        margin: 0;
        padding-top: 70px;
        float: left;
        width: 100%;
        color: $grey-light;
        background-color: $black;
        text-align: center;
        .social-big{
            text-decoration: none;
            display: inline;
            padding-bottom: 50px;
            a{
                color: $grey-light;
            }
        }
        li{
            display: inline;
        }
        #social-bottom-title {
            padding-top: 40px;
            font-size: 2em;
            font-weight: 300;
            color: white;
        }
        #social-bottom-subtitle{
            padding-bottom: 10px;
            font-size: 1.3em;
            font-weight: 300;
            color: white;
        }
        #contact{
            display: inline;
            color: white;
            font-size: 1.7em;
            li{
                margin-right: 30px;
            }
            a{
                color: $placester-red;
            }
        }
    }
            

    #copyright{
        color: $grey-light;
        background-color: $black;
        text-align: center;
    }
}









            


















  
