@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@import url('http://fonts.googleapis.com/css?family=Oswald');
@import "css/bourbon/bourbon"; // or "bourbon" when in Rails
@import "grid-settings";
@import "css/neat/neat";



$font-stack: Open Sans, sans-serif;
$oswald: Oswald, sans-serif;
$primary-color: #334;
$block-heading-size: 21px;
$center-width: 65%;
$black: rgb(23, 23, 23);
$grey-background: rgb(237,237, 237);
$grey-light: rgb(144, 144, 144);
$placester-red: rgb(231, 86, 64);
$mobile: new-breakpoint(max-width 940px 8);




body{
    width: 100%;
    font: 8pt $font-stack;
    color: $primary-color;
    margin: 0;
    padding: 0;


    a{
        text-decoration: none;
    }
 

    #headers{
        @include outer-container;
        margin-bottom: 50px;
        height: 57px;

        ul{
            text-align: right;
            li{
                display: inline;
                position: relative;
            }
        }

        a{
            color: $grey-light;
        }

        #home-button{
            float: left;
            padding-top: 15px;
        }

        #accounts{
            border: 2px;
            border-radius: 3px;
            background-color: $grey-background;
            margin-top: 0;
            ul{
                float: right;
                
                li{
                    float: right;
                    margin-right: 5px;
                    margin-left: 5px;
                    
                }
            }
        }

        #social{
            height: 24;
            color: $placester-red;
            li{
                padding-left: 7px;
            }
        }
        #phone-number{
            padding-right: 25px; 
        }

        #navigation{
            margin-right: 70px;
            li{
                padding-right: 4px;
                padding-left: 4px;
            }
        }
    }

    #slideshow-wrapper{

        

    }


    #search-background {
        width: 100%;
        background-color: $grey-background;
        #search{
            font: $oswald;
            @include outer-container;
            padding-top: 5px;
            padding-bottom: 25px;
            margin-top: 0px;
            text-align: center;
            color: $black;
            .chosen-single{
                height: 39px;
            }
            #search-button{
                color: white;
                background-color: $placester-red;
                padding: 5px;
                border-radius: 4px;
            }
            #forms{
                padding-bottom: 20px;
                font-weight: 150%;
                input {
                    height: 39px;
                    width: 30%;
                    border-radius: 3px;
                    border-style: solid;
                    border-color: $grey-background;    
                    border-width: 1px;
                }
            }
        }
    }


    #featured-neighborhoods{
        @include outer-container;
        color: $black;
        #neighborhood-title{
            width: 100%;
            color: $grey-light;
            font-weight: 50%;
        }
        .neighborhood{
            @include span-columns(3);
            img{
                width:100%;
            }
            /*
            @include media($mobile){
                @include span-columns(4);
                @include omega(2n);
            }
            */
        }
    }


    #properties{
        text-align: center;
        clear: both;
        background-color: $grey-background;
        #posts{
            text-align: left;
            @include outer-container;
            .post-wrapper{
                position: relative;
                padding-bottom: 35%;
                height: 0;
                margin-bottom: 10px;
                @include span-columns(4);
                @include omega(3n);
                .post{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: white;
                    img{
                        width:100%;
                    }
                    /*
                    @include media($mobile) {
                        @include span-columns(4);
                        @include omega(2n);
                    }
                    */
                }
            }
        }
    }



    #testimonial-video{
        @include outer-container;
        #video{
            @include span-columns(6);
            iframe{
                width: 100%;
            }
        }

        hr {
            clear: both;
            border: none;
            color: $grey-background;
            background-color: $grey-background;
            height: 1px;
        }
    }



    #social-feeds {
        @include outer-container;
        #instagram, #pinterest {
            text-align: left;
            @include span-columns(4);
            .picture{
                float: left;
                @include span-columns(4);
                @include omega();
                img{
                    width: 100%
                }
            }
            a{
                text-decoration: none;
                text-align: left;
                color: $placester-red;
            }
            a:visited{
                color: $placester-red;
            }
        }
    }



    #cities-background{
        font: $oswald;
        text-align: center;
        background-color: $grey-background;
        overflow: hidden;
        clear: both;
        h2{
            clear: both;
        }

        hr {
            clear: both;
            border-top: 2px dotted;
            color: $grey-light;
        }

        .cities{
            @include outer-container;
            background-color: $grey-background;
            .city{
                @include span-columns(2);
                @include omega();
                margin-bottom: 20px;
                a{
                    color: $black;
                }
                a:hover{
                    color: red;
                    text-decoration-color: none;
                }
            }  
        }
    }

    #navigation-bottom{
        clear: both;
        background-color: $black;
        height: 30px;
        text-decoration: none;
        margin-bottom: 1px;

        a{
            color: grey;
        }
        nav{
            text-align: center;
            vertical-align: middle; 
        }
    }


    #social-bottom{
        margin: 0;
        float: left;
        width: 100%;
        color: $grey-light;
        background-color: $black;
        text-align: center;
        li{
            display: inline;
        }
        .social-big{
            text-decoration: none;
            display: inline;
            a{
                color: $grey-light;
            }
        }
        #contact{
            display: inline;
            li{
                margin-right: 30px;
            }
            a{
                color: $placester-red;
            }
        }
    }
            

    #copyright{
        color: $grey-light;
        background-color: $black;
        text-align: center;
        margin-top: 3px;
    }
}









            


















  
