@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);
@import url('http://fonts.googleapis.com/css?family=Oswald:400,300,700');
@import "bourbon/bourbon"; // or "bourbon" when in Rails
@import "grid-settings";
@import "neat/neat";


@import "modules/mixins";
@import "modules/variables";
@import "modules/main-navigation";
@import "modules/page-wrap";
@import "modules/headers";
@import "modules/main-slideshow";
@import "modules/search-background";
@import "modules/featured-neighborhoods";
@import "modules/properties";
@import "modules/testimonial-video";
@import "modules/social-feeds";
@import "modules/cities-background";
@import "modules/footer";


/*
    Need to reevaluate the amount of nesting in this project, for performance reasons
*/


body{
    width: 100%;
    font: 8pt $font-stack;
    font-weight: 400;
    margin: 0;
    padding: 0;
    
    ::-webkit-input-placeholder { /* WebKit browsers */
        color:    $grey-title;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color:    $grey-title;
        opacity:  1;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color:    $grey-title;
        opacity:  1;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
        color:    $grey-title;
    }

    @include media($tablet){
        .mobile-remove{
            display: none !important;
        }
    }
    a{
        text-decoration: none;
    }
}









            


















  
