@import url("http://fonts.googleapis.com/css?family=Open+Sans");
@import url("http://fonts.googleapis.com/css?family=Oswald");
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  width: 100%;
  font: 66% Open Sans, sans-serif;
  color: #333344;
  margin: 0;
  padding: 0; }
  body a {
    text-decoration: none; }
  body #headers {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    height: 57px; }
    body #headers:after {
      content: "";
      display: table;
      clear: both; }
    body #headers ul {
      text-align: right; }
      body #headers ul li {
        display: inline;
        position: relative; }
    body #headers a {
      color: #909090; }
    body #headers #home-button {
      float: left;
      padding-top: 15px; }
    body #headers #accounts {
      border: 2px;
      border-radius: 3px;
      background-color: #ededed;
      margin-top: 0; }
      body #headers #accounts ul {
        float: right; }
        body #headers #accounts ul li {
          float: right;
          margin-right: 5px;
          margin-left: 5px; }
    body #headers #social {
      height: 24;
      color: #e75640; }
      body #headers #social li {
        padding-left: 7px; }
    body #headers #phone-number {
      font-size: 150%;
      padding-right: 25px; }
    body #headers #navigation {
      margin-right: 70px; }
      body #headers #navigation li {
        padding-right: 4px;
        padding-left: 4px; }
  body #slideshow {
    background-color: #171717;
    width: 100%;
    height: 300px; }
  body #search-background {
    width: 100%;
    background-color: #ededed; }
    body #search-background #search {
      font: Oswald, sans-serif;
      max-width: 940px;
      margin-left: auto;
      margin-right: auto;
      padding-top: 5px;
      padding-bottom: 25px;
      margin-top: 0px;
      text-align: center;
      color: #171717; }
      body #search-background #search:after {
        content: "";
        display: table;
        clear: both; }
      body #search-background #search .chosen-single {
        height: 39px;
        font-size: 130%; }
      body #search-background #search #search-button {
        color: white;
        background-color: #e75640;
        font-size: 150%;
        padding: 5px;
        border-radius: 4px; }
      body #search-background #search #forms {
        padding-bottom: 20px;
        font-weight: 150%;
        font-size: 150%; }
        body #search-background #search #forms input {
          height: 39px;
          width: 30%;
          border-radius: 3px;
          border-style: solid;
          border-color: #ededed;
          border-width: 1px; }
  body #featured-neighborhoods {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    color: #171717; }
    body #featured-neighborhoods:after {
      content: "";
      display: table;
      clear: both; }
    body #featured-neighborhoods #neighborhood-title {
      width: 100%;
      color: #909090;
      font-size: 200%;
      font-weight: 50%; }
    body #featured-neighborhoods .neighborhood {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%;
      /*
      @include media($mobile){
          @include span-columns(4);
          @include omega(2n);
      }
      */ }
      body #featured-neighborhoods .neighborhood:last-child {
        margin-right: 0; }
      body #featured-neighborhoods .neighborhood img {
        width: 100%; }
  body #properties {
    text-align: center;
    clear: both;
    background-color: #ededed; }
    body #properties #posts {
      text-align: left;
      max-width: 940px;
      margin-left: auto;
      margin-right: auto; }
      body #properties #posts:after {
        content: "";
        display: table;
        clear: both; }
      body #properties #posts .post-wrapper {
        position: relative;
        padding-bottom: 35%;
        height: 0;
        margin-bottom: 10px;
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%; }
        body #properties #posts .post-wrapper:last-child {
          margin-right: 0; }
        body #properties #posts .post-wrapper:nth-child(3n) {
          margin-right: 0; }
        body #properties #posts .post-wrapper:nth-child(3n+1) {
          clear: left; }
        body #properties #posts .post-wrapper .post {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: white;
          /*
          @include media($mobile) {
              @include span-columns(4);
              @include omega(2n);
          }
          */ }
          body #properties #posts .post-wrapper .post img {
            width: 100%; }
  body #testimonial-video {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto; }
    body #testimonial-video:after {
      content: "";
      display: table;
      clear: both; }
    body #testimonial-video #video {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      body #testimonial-video #video:last-child {
        margin-right: 0; }
      body #testimonial-video #video iframe {
        width: 100%; }
    body #testimonial-video hr {
      clear: both;
      border: none;
      color: #ededed;
      background-color: #ededed;
      height: 1px; }
  body #social-feeds {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto; }
    body #social-feeds:after {
      content: "";
      display: table;
      clear: both; }
    body #social-feeds #instagram, body #social-feeds #pinterest {
      text-align: left;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%; }
      body #social-feeds #instagram:last-child, body #social-feeds #pinterest:last-child {
        margin-right: 0; }
      body #social-feeds #instagram .picture, body #social-feeds #pinterest .picture {
        float: left;
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%;
        margin-right: 0; }
        body #social-feeds #instagram .picture:last-child, body #social-feeds #pinterest .picture:last-child {
          margin-right: 0; }
        body #social-feeds #instagram .picture img, body #social-feeds #pinterest .picture img {
          width: 100%; }
      body #social-feeds #instagram a, body #social-feeds #pinterest a {
        text-decoration: none;
        text-align: left;
        color: #e75640; }
      body #social-feeds #instagram a:visited, body #social-feeds #pinterest a:visited {
        color: #e75640; }
  body #cities-background {
    font: Oswald, sans-serif;
    text-align: center;
    background-color: #ededed;
    overflow: hidden;
    clear: both; }
    body #cities-background h2 {
      font-size: 200%;
      clear: both; }
    body #cities-background hr {
      clear: both;
      border-top: 2px dotted;
      color: #909090; }
    body #cities-background .cities {
      max-width: 940px;
      margin-left: auto;
      margin-right: auto;
      background-color: #ededed; }
      body #cities-background .cities:after {
        content: "";
        display: table;
        clear: both; }
      body #cities-background .cities .city {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 14.70196%;
        margin-right: 0;
        margin-bottom: 20px; }
        body #cities-background .cities .city:last-child {
          margin-right: 0; }
        body #cities-background .cities .city a {
          color: #171717; }
        body #cities-background .cities .city a:hover {
          color: red;
          text-decoration-color: none; }
  body #navigation-bottom {
    clear: both;
    background-color: #171717;
    height: 30px;
    text-decoration: none;
    margin-bottom: 1px; }
    body #navigation-bottom a {
      color: grey; }
    body #navigation-bottom nav {
      text-align: center;
      vertical-align: middle; }
  body #social-bottom {
    margin: 0;
    float: left;
    width: 100%;
    color: #909090;
    background-color: #171717;
    text-align: center; }
    body #social-bottom li {
      display: inline; }
    body #social-bottom .social-big {
      text-decoration: none;
      display: inline; }
      body #social-bottom .social-big a {
        color: #909090; }
    body #social-bottom #contact {
      display: inline;
      font-size: 220%; }
      body #social-bottom #contact li {
        margin-right: 30px; }
      body #social-bottom #contact a {
        font-size: 80%;
        color: #e75640; }
  body #copyright {
    color: #909090;
    background-color: #171717;
    text-align: center;
    margin-top: 3px; }
