@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600);
@import url("http://fonts.googleapis.com/css?family=Oswald:400,300,700");
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

#main-navigation {
  float: left;
  width: 0;
  background-color: white;
  color: #FFF;
  text-align: left;
  margin-top: 0;
  padding-top: 0;
  height: 100vh;
  width: 0;
  overflow-y: scroll !important;
  position: fixed;
  z-index: -2; }
  #main-navigation ul {
    display: inline;
    margin: 0;
    padding: 0;
    overflow-y: scroll; }
    #main-navigation ul li {
      border-bottom: 1px groove #ededed;
      overflow-y: scroll; }
      #main-navigation ul li a {
        display: block;
        width: 100%; }
      #main-navigation ul li .side-menu-section {
        background-color: #ededed;
        background-image: -webkit-linear-gradient(#ededed, #c8c8c8);
        background-image: linear-gradient(#ededed, #c8c8c8);
        color: #4b4b4b;
        height: 30px;
        padding-left: 15px;
        padding-top: 7px;
        font-weight: 700; }
      #main-navigation ul li .side-menu-item {
        height: 48px;
        color: #4b4b4b;
        padding-left: 15px;
        padding-top: 15px;
        font-size: 1.3em;
        font-weight: 600; }
      #main-navigation ul li .side-menu-item:hover {
        background-color: #ededed;
        color: #e75640; }

#page-wrap {
  float: right;
  box-shadow: -2px 0 3px 2px #c8c8c8;
  overflow: auto;
  width: 100%; }
  #page-wrap #top-line {
    width: 100%;
    height: 2px;
    background-color: #ededed; }
    @media screen and (max-width: 768px) {
      #page-wrap #top-line {
        display: none; } }

#headers {
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px; }
  #headers:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (max-width: 768px) {
    #headers {
      position: fixed;
      background-color: white;
      width: 100%;
      padding: 0 15px;
      padding-bottom: 15px;
      z-index: 1002; } }
  #headers ul {
    text-align: right; }
    #headers ul li {
      display: inline;
      position: relative; }
  #headers a {
    color: #969696; }
  #headers #home-button {
    float: left;
    margin-top: 25px; }
    @media screen and (max-width: 768px) {
      #headers #home-button {
        margin-top: 10px;
        padding-top: 5px;
        width: 150px;
        float: left; }
        #headers #home-button img {
          width: 100%; } }
  #headers #mobile-menu {
    display: none; }
    @media screen and (max-width: 768px) {
      #headers #mobile-menu {
        display: inline;
        float: left;
        margin-top: 20px;
        margin-right: 15px; } }
  #headers #accounts {
    float: right;
    border: 2px;
    border-radius: 0 0 3px 3px;
    width: 165px;
    background-color: #ededed;
    margin-top: 0;
    margin-bottom: 20px;
    padding-top: 1px;
    padding-bottom: 4px;
    padding-right: 0;
    padding-left: 0;
    text-align: left;
    font-size: 95%; }
    #headers #accounts li {
      clear: both;
      text-align: left;
      margin-left: 15px; }
    #headers #accounts img {
      padding-right: 3px; }
  #headers #social {
    clear: right;
    height: 25px; }
    #headers #social li {
      padding-left: 5px; }
    #headers #social #phone-number {
      position: absolute;
      display: inline;
      width: 170px;
      right: 0;
      margin-right: 15px;
      font-weight: 300;
      font-size: 1.5em;
      color: #e75640; }
  #headers #navigation-top li {
    letter-spacing: 1px;
    font: 1.1em Open Sans, sans-serif;
    font-weight: 700;
    padding-left: 15px; }
  #headers #navigation-top a:hover {
    color: #e75640; }
  @media screen and (max-width: 768px) {
    #headers #navigation-top {
      text-align: left;
      margin-left: 170px;
      padding-top: 10px;
      font-size: 1em;
      letter-spacing: normal; }
      #headers #navigation-top #contact-nav {
        display: none; } }
  #headers #mobile-logout {
    display: none; }
    @media screen and (max-width: 768px) {
      #headers #mobile-logout {
        display: inline;
        position: absolute;
        right: 10px;
        top: 22px;
        float: right; } }

#main-slideshow {
  position: relative; }
  #main-slideshow #featured {
    z-index: -1;
    width: 100%;
    height: 550px;
    background: center center #f4f4f4 no-repeat;
    overflow: hidden;
    position: relative; }
    #main-slideshow #featured img {
      display: none; }
    @media screen and (max-width: 768px) {
      #main-slideshow #featured {
        min-height: 500px; } }
  #main-slideshow #featured.orbit {
    background: none;
    max-height: 550px; }
    #main-slideshow #featured.orbit img {
      display: block; }
    @media screen and (max-width: 768px) {
      #main-slideshow #featured.orbit {
        min-height: 500px; }
        #main-slideshow #featured.orbit img {
          height: 100%; } }
  #main-slideshow #slideshow-background {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    position: absolute;
    bottom: 61px; }
    @media screen and (max-width: 768px) {
      #main-slideshow #slideshow-background {
        background: none;
        bottom: 30px; } }
    #main-slideshow #slideshow-background #slideshow-links {
      max-width: 920px;
      margin-left: auto;
      margin-right: auto; }
      #main-slideshow #slideshow-background #slideshow-links:after {
        content: "";
        display: table;
        clear: both; }
      @media screen and (max-width: 768px) {
        #main-slideshow #slideshow-background #slideshow-links {
          margin: 0 60px; } }
      #main-slideshow #slideshow-background #slideshow-links .slideshow-link {
        position: relative;
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%;
        padding-top: 15px;
        height: 70px;
        display: inline; }
        #main-slideshow #slideshow-background #slideshow-links .slideshow-link:last-child {
          margin-right: 0; }
        #main-slideshow #slideshow-background #slideshow-links .slideshow-link .unclicked {
          color: white;
          font: 2.5em Oswald, serif; }
        #main-slideshow #slideshow-background #slideshow-links .slideshow-link .clicked {
          color: #e75640; }
        #main-slideshow #slideshow-background #slideshow-links .slideshow-link div:hover {
          color: #e75640; }
        #main-slideshow #slideshow-background #slideshow-links .slideshow-link .arrow {
          position: absolute;
          width: 17px;
          height: 17px;
          right: 0;
          bottom: 25px;
          padding-top: 15px;
          margin-right: 20px;
          background-image: url("../images/sidearrow.png");
          background-size: auto; }
        #main-slideshow #slideshow-background #slideshow-links .slideshow-link .uparrow {
          position: absolute;
          width: 17px;
          height: 17px;
          right: 0;
          bottom: 25px;
          padding-top: 15px;
          margin-right: 20px;
          background-image: url("../images/uparrow.png");
          background-size: auto; }
        @media screen and (max-width: 768px) {
          #main-slideshow #slideshow-background #slideshow-links .slideshow-link {
            float: left;
            display: block;
            margin-right: 3.57866%;
            width: 100%;
            margin: 0 0 10px 0;
            padding-left: 10px;
            background-color: rgba(0, 0, 0, 0.6); }
            #main-slideshow #slideshow-background #slideshow-links .slideshow-link:last-child {
              margin-right: 0; } }
      #main-slideshow #slideshow-background #slideshow-links .slideshow-link:hover a {
        color: #e75640; }
      #main-slideshow #slideshow-background #slideshow-links .slideshow-overlay {
        display: none;
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        position: relative;
        font: 1em Oswald, serif;
        padding: 15px 20px 0 20px; }
      #main-slideshow #slideshow-background #slideshow-links .active {
        margin-bottom: 135px; }
      #main-slideshow #slideshow-background #slideshow-links #slideshow-overlay1 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 57.35098%;
        height: 100px;
        margin-top: -170px;
        font-size: 3em; }
        #main-slideshow #slideshow-background #slideshow-links #slideshow-overlay1:last-child {
          margin-right: 0; }
        @media screen and (max-width: 768px) {
          #main-slideshow #slideshow-background #slideshow-links #slideshow-overlay1 {
            float: left;
            display: block;
            margin-right: 3.57866%;
            width: 100%;
            height: 125px;
            margin: 16px 0 0 -10px;
            position: absolute; }
            #main-slideshow #slideshow-background #slideshow-links #slideshow-overlay1:last-child {
              margin-right: 0; } }
      #main-slideshow #slideshow-background #slideshow-links #slideshow-overlay2 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        height: 225px;
        margin-top: -295px;
        font-size: 3em; }
        #main-slideshow #slideshow-background #slideshow-links #slideshow-overlay2:last-child {
          margin-right: 0; }
        #main-slideshow #slideshow-background #slideshow-links #slideshow-overlay2 p {
          font: 0.5em Open Sans, sans-serif;
          line-height: 25px;
          margin-bottom: 0;
          padding-bottom: 0; }
        #main-slideshow #slideshow-background #slideshow-links #slideshow-overlay2 a {
          font: 0.4em Open Sans, sans-serif;
          color: #e75640; }
        @media screen and (max-width: 768px) {
          #main-slideshow #slideshow-background #slideshow-links #slideshow-overlay2 {
            float: left;
            display: block;
            margin-right: 3.57866%;
            width: 100%;
            height: 125px;
            margin: 16px 0 0 -10px;
            position: absolute; }
            #main-slideshow #slideshow-background #slideshow-links #slideshow-overlay2:last-child {
              margin-right: 0; } }
      #main-slideshow #slideshow-background #slideshow-links #slideshow-overlay3 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 57.35098%;
        margin-left: 42.64902%;
        height: 350px;
        margin-top: -420px;
        font-size: 3em; }
        #main-slideshow #slideshow-background #slideshow-links #slideshow-overlay3:last-child {
          margin-right: 0; }
        #main-slideshow #slideshow-background #slideshow-links #slideshow-overlay3 input {
          padding-left: 10px;
          height: 35px;
          border-radius: 3px;
          border-style: solid;
          border-color: #ededed;
          border-width: 1px;
          font: 0.5em Open Sans, sans-serif; }
        #main-slideshow #slideshow-background #slideshow-links #slideshow-overlay3 #overlay-name {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 48.82117%;
          margin-bottom: 15px;
          margin-top: 25px; }
          #main-slideshow #slideshow-background #slideshow-links #slideshow-overlay3 #overlay-name:last-child {
            margin-right: 0; }
        #main-slideshow #slideshow-background #slideshow-links #slideshow-overlay3 #overlay-email {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 48.82117%;
          margin-right: 0;
          margin-top: 25px; }
          #main-slideshow #slideshow-background #slideshow-links #slideshow-overlay3 #overlay-email:last-child {
            margin-right: 0; }
        #main-slideshow #slideshow-background #slideshow-links #slideshow-overlay3 #overlay-comments {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 100%;
          padding-bottom: 90px;
          padding-top: 15px; }
          #main-slideshow #slideshow-background #slideshow-links #slideshow-overlay3 #overlay-comments:last-child {
            margin-right: 0; }
        #main-slideshow #slideshow-background #slideshow-links #slideshow-overlay3 #overlay-button {
          clear: both;
          float: right;
          color: white;
          background-color: #e75640;
          padding: 5px 15px 5px 15px;
          margin-top: 15px;
          border-radius: 3px;
          font-size: .6em; }
        @media screen and (max-width: 768px) {
          #main-slideshow #slideshow-background #slideshow-links #slideshow-overlay3 {
            float: left;
            display: block;
            margin-right: 3.57866%;
            width: 100%;
            height: 125px;
            margin: 16px 0 0 -10px;
            position: absolute; }
            #main-slideshow #slideshow-background #slideshow-links #slideshow-overlay3:last-child {
              margin-right: 0; } }
  #main-slideshow .orbit-caption {
    font: 1.8em Oswald, serif;
    text-align: left;
    vertical-align: middle;
    height: 60px;
    padding-top: 15px;
    display: none; }
    @media screen and (max-width: 768px) {
      #main-slideshow .orbit-caption {
        height: 0;
        padding: 0; } }
    #main-slideshow .orbit-caption .caption {
      max-width: 920px;
      margin-left: auto;
      margin-right: auto; }
      #main-slideshow .orbit-caption .caption:after {
        content: "";
        display: table;
        clear: both; }
      @media screen and (max-width: 768px) {
        #main-slideshow .orbit-caption .caption {
          display: none; } }
  #main-slideshow div.timer {
    display: none; }
  #main-slideshow .orbit-bullets {
    display: none;
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: 13px;
    left: 80%;
    z-index: 1001; }
    #main-slideshow .orbit-bullets:after {
      content: "";
      display: table;
      clear: both; }
    @media screen and (max-width: 768px) {
      #main-slideshow .orbit-bullets {
        display: none; } }
  #main-slideshow div.slider-nav span.left {
    border-radius: 0 10px 10px 0; }
    @media screen and (max-width: 768px) {
      #main-slideshow div.slider-nav span.left {
        display: none; } }
  #main-slideshow div.slider-nav span.right {
    border-radius: 10px 0 0 10px; }
    @media screen and (max-width: 768px) {
      #main-slideshow div.slider-nav span.right {
        display: none; } }

#search-background {
  background-color: #ededed;
  margin-top: -40px; }
  #search-background #search {
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
    font: 1.5em Oswald, serif;
    color: #4b4b4b;
    padding-top: 25px;
    padding-bottom: 40px;
    text-align: center; }
    #search-background #search:after {
      content: "";
      display: table;
      clear: both; }
    @media screen and (max-width: 768px) {
      #search-background #search {
        margin: 0 30px; } }
    #search-background #search #search-title {
      font-size: 1.8em;
      margin-bottom: 20px; }
      @media screen and (max-width: 768px) {
        #search-background #search #search-title {
          font-size: 1.6em; } }
    #search-background #search .chosen-container, #search-background #search .chosen-container-single, #search-background #search .chosen-container-single-nonsearch {
      margin: 0;
      width: 13.7% !important; }
      @media screen and (max-width: 768px) {
        #search-background #search .chosen-container, #search-background #search .chosen-container-single, #search-background #search .chosen-container-single-nonsearch {
          width: 24.5% !important; } }
    #search-background #search .chosen-single {
      height: 35px;
      margin: 0;
      padding-top: 4px;
      border-radius: 3px;
      border-width: 1px;
      border-style: solid;
      border-color: #c8c8c8;
      margin-right: 5%; }
      #search-background #search .chosen-single span {
        text-align: left;
        padding-left: 5px;
        color: #4b4b4b;
        font-size: 1em; }
      #search-background #search .chosen-single div b {
        height: 50%;
        margin-top: 5px; }
    #search-background #search .chosen-drop {
      padding-top: 5px;
      width: 95%; }
    #search-background #search #forms {
      text-align: left;
      padding-bottom: 27px; }
      #search-background #search #forms input {
        font: 0.8em Oswald, serif;
        color: #4b4b4b;
        padding-left: 15px;
        margin-right: 7px;
        height: 35px;
        width: 42%;
        border-radius: 2px;
        border-style: solid;
        border-color: #c8c8c8;
        border-width: 1px; }
        @media screen and (max-width: 768px) {
          #search-background #search #forms input {
            float: left;
            display: block;
            margin-right: 3.57866%;
            width: 100%;
            margin-bottom: 10px; }
            #search-background #search #forms input:last-child {
              margin-right: 0; } }
  #search-background #search-button {
    font-size: 1.2em;
    color: white;
    height: 35px;
    background-color: #e75640;
    padding: 5px 15px 5px 15px;
    border-radius: 4px;
    clear: both; }
    #search-background #search-button img {
      padding-right: 10px; }
    @media screen and (max-width: 768px) {
      #search-background #search-button {
        width: 66%;
        font-size: 1em;
        clear: both; } }

#featured-neighborhoods {
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
  font: 1.2em Oswald, serif;
  color: #4b4b4b;
  margin-top: 50px;
  margin-bottom: 55px; }
  #featured-neighborhoods:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (max-width: 768px) {
    #featured-neighborhoods {
      margin: 0 30px;
      margin-bottom: 40px;
      font-size: 1em;
      font-weight: 400; } }
  #featured-neighborhoods #neighborhoods-title {
    color: #969696;
    width: 100%;
    margin-left: 3px;
    margin-bottom: 40px;
    font-size: 2em;
    font-weight: 300; }
    @media screen and (max-width: 768px) {
      #featured-neighborhoods #neighborhoods-title {
        margin-top: 40px;
        margin-bottom: 30px;
        font-size: 2.5em; } }
  #featured-neighborhoods .neighborhood {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    #featured-neighborhoods .neighborhood:last-child {
      margin-right: 0; }
    @media screen and (max-width: 768px) {
      #featured-neighborhoods .neighborhood {
        margin: 0;
        float: left;
        display: block;
        margin-right: 3.57866%;
        width: 48.21067%;
        margin-bottom: 30px; }
        #featured-neighborhoods .neighborhood:last-child {
          margin-right: 0; }
        #featured-neighborhoods .neighborhood:nth-child(3n) {
          margin-right: 0; }
        #featured-neighborhoods .neighborhood:nth-child(3n+1) {
          clear: left; } }
    #featured-neighborhoods .neighborhood img {
      width: 100%; }
    #featured-neighborhoods .neighborhood .neighborhood-title {
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 1.5em; }
      #featured-neighborhoods .neighborhood .neighborhood-title a {
        color: #4b4b4b; }
      #featured-neighborhoods .neighborhood .neighborhood-title a:hover {
        color: #e75640;
        text-decoration: none; }
      @media screen and (max-width: 768px) {
        #featured-neighborhoods .neighborhood .neighborhood-title {
          font-size: 1.8em; } }
    #featured-neighborhoods .neighborhood .neighborhood-text {
      font: 0.9em Open Sans, sans-serif; }
      @media screen and (max-width: 768px) {
        #featured-neighborhoods .neighborhood .neighborhood-text {
          font-size: 1.2em; } }

#properties {
  font: 1.2em Oswald, serif;
  color: #4b4b4b;
  text-align: center;
  clear: both;
  background-color: #ededed;
  padding-bottom: 55px;
  padding-top: 60px; }
  @media screen and (max-width: 768px) {
    #properties {
      font-size: 1.6vw; } }
  @media screen and (max-width: 480px) {
    #properties {
      font-size: 2.8vw; } }
  #properties #properties-title {
    font-size: 2.5em;
    padding-bottom: 30px; }
  #properties #posts {
    text-align: left;
    max-width: 920px;
    margin-left: auto;
    margin-right: auto; }
    #properties #posts:after {
      content: "";
      display: table;
      clear: both; }
    @media screen and (max-width: 768px) {
      #properties #posts {
        margin: 0 30px; } }
    #properties #posts .post-wrapper {
      position: relative;
      height: 0;
      margin-bottom: 25px;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      padding: 0;
      padding-bottom: 35%;
      border: 2px solid;
      border-color: #e8e8e8; }
      #properties #posts .post-wrapper:last-child {
        margin-right: 0; }
      #properties #posts .post-wrapper:nth-child(3n) {
        margin-right: 0; }
      #properties #posts .post-wrapper:nth-child(3n+1) {
        clear: left; }
      @media screen and (max-width: 768px) {
        #properties #posts .post-wrapper {
          float: left;
          display: block;
          margin-right: 3.57866%;
          width: 48.21067%;
          padding: 0;
          padding-bottom: 50%; }
          #properties #posts .post-wrapper:last-child {
            margin-right: 0; }
          #properties #posts .post-wrapper:nth-child(3n) {
            margin-right: 3.57866%; }
          #properties #posts .post-wrapper:nth-child(3n+1) {
            clear: none; }
          #properties #posts .post-wrapper:nth-child(2n) {
            margin-right: 0; }
          #properties #posts .post-wrapper:nth-child(2n+1) {
            clear: left; } }
      @media screen and (max-width: 480px) {
        #properties #posts .post-wrapper {
          float: left;
          display: block;
          margin-right: 7.42297%;
          width: 100%;
          padding-bottom: 100%; }
          #properties #posts .post-wrapper:last-child {
            margin-right: 0; } }
      #properties #posts .post-wrapper .post {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        overflow: hidden; }
        #properties #posts .post-wrapper .post img {
          width: 100%; }
        #properties #posts .post-wrapper .post .posts-text {
          margin-left: 20px;
          margin-top: 10px; }
        #properties #posts .post-wrapper .post a {
          color: #4b4b4b; }
        #properties #posts .post-wrapper .post a:hover {
          color: #e75640; }
        #properties #posts .post-wrapper .post .post-title {
          font-size: 1.3em;
          margin-bottom: 3px; }
        #properties #posts .post-wrapper .post .post-subtitle {
          font: 1.1em Open Sans, sans-serif;
          color: #969696;
          padding-bottom: 10px; }
        #properties #posts .post-wrapper .post .post-text {
          font: 0.7em Open Sans, sans-serif;
          font-weight: 300;
          color: #969696; }

#testimonial-video {
  padding-top: 60px;
  max-width: 920px;
  margin-left: auto;
  margin-right: auto; }
  #testimonial-video:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (max-width: 768px) {
    #testimonial-video {
      margin: 0 30px; } }
  #testimonial-video .video-title {
    font: 2.5em Oswald, serif;
    padding-bottom: 40px;
    color: #969696;
    font-weight: 300; }
  #testimonial-video #video {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    color: #4b4b4b; }
    #testimonial-video #video:last-child {
      margin-right: 0; }
    @media screen and (max-width: 768px) {
      #testimonial-video #video {
        float: left;
        display: block;
        margin-right: 3.57866%;
        width: 100%; }
        #testimonial-video #video:last-child {
          margin-right: 0; } }
    #testimonial-video #video #video-text {
      padding: 30px 0 30px 0;
      color: #4b4b4b;
      font: 1.2em Open Sans, sans-serif;
      font-weight: 300; }
      #testimonial-video #video #video-text p {
        line-height: 180%; }
    #testimonial-video #video iframe {
      width: 100%; }
  #testimonial-video #testimonials {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    margin-right: 0;
    position: relative; }
    #testimonial-video #testimonials:last-child {
      margin-right: 0; }
    @media screen and (max-width: 768px) {
      #testimonial-video #testimonials {
        float: left;
        display: block;
        margin-right: 3.57866%;
        width: 100%; }
        #testimonial-video #testimonials:last-child {
          margin-right: 0; } }
    #testimonial-video #testimonials #testimonial-slideshow {
      color: #4b4b4b;
      width: 100%; }
      #testimonial-video #testimonials #testimonial-slideshow .testimonial {
        height: 250px; }
        #testimonial-video #testimonials #testimonial-slideshow .testimonial .testimonial-quote {
          float: left;
          height: 100%;
          width: 75px;
          text-align: center;
          font: 6.2em Open Sans, sans-serif; }
        #testimonial-video #testimonials #testimonial-slideshow .testimonial .testimonial-text {
          font: 1.5em Open Sans, sans-serif;
          font-style: italic; }
        #testimonial-video #testimonials #testimonial-slideshow .testimonial .testimonial-link {
          font: 1.3em Open Sans, sans-serif;
          font-style: italic;
          color: #e75640; }
    #testimonial-video #testimonials div.slider-nav span.left {
      position: absolute;
      content: url("../images/leftnav.png");
      background: none;
      height: 61px;
      width: 61px;
      margin: 0;
      margin-top: 205px;
      left: 35%;
      border-radius: 50%; }
      @media screen and (max-width: 768px) {
        #testimonial-video #testimonials div.slider-nav span.left {
          margin-top: 50px; } }
    #testimonial-video #testimonials div.slider-nav span.right {
      position: absolute;
      content: url("../images/rightnav.png");
      background: none;
      height: 61px;
      width: 61px;
      margin: 0;
      margin-top: 205px;
      right: 35%;
      border-radius: 50%; }
      @media screen and (max-width: 768px) {
        #testimonial-video #testimonials div.slider-nav span.right {
          margin-top: 50px; } }
    #testimonial-video #testimonials div.timer {
      display: none; }
  #testimonial-video hr {
    clear: both;
    border: none;
    color: #ededed;
    background-color: #ededed;
    height: 1px; }

#social-feeds {
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 0 50px 0; }
  #social-feeds:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (max-width: 768px) {
    #social-feeds {
      margin: 0 30px; } }
  #social-feeds .social-title {
    font: 2.2em Oswald, serif;
    font-weight: 300;
    color: #969696;
    padding-bottom: 20px; }
    @media screen and (max-width: 768px) {
      #social-feeds .social-title {
        font: 2.5em Oswald, serif;
        font-weight: 300;
        margin-bottom: 25px; } }
  #social-feeds #instagram, #social-feeds #pinterest {
    text-align: left;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    #social-feeds #instagram:last-child, #social-feeds #pinterest:last-child {
      margin-right: 0; }
    #social-feeds #instagram .picture, #social-feeds #pinterest .picture {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%;
      margin-right: 0;
      margin-right: 4px; }
      #social-feeds #instagram .picture:last-child, #social-feeds #pinterest .picture:last-child {
        margin-right: 0; }
      #social-feeds #instagram .picture img, #social-feeds #pinterest .picture img {
        width: 100%; }
    #social-feeds #instagram .social-link, #social-feeds #pinterest .social-link {
      font: 1.2em Open Sans, sans-serif;
      display: inline-block;
      margin-top: 10px; }
      #social-feeds #instagram .social-link a, #social-feeds #pinterest .social-link a {
        text-decoration: none;
        text-align: left;
        color: #e75640; }
  #social-feeds #get-in-touch {
    display: none;
    color: #4b4b4b;
    font: 1em Open Sans, sans-serif; }
    @media screen and (max-width: 768px) {
      #social-feeds #get-in-touch {
        float: left;
        display: block;
        margin-right: 3.57866%;
        width: 48.21067%; }
        #social-feeds #get-in-touch:last-child {
          margin-right: 0; } }
    @media screen and (max-width: 480px) {
      #social-feeds #get-in-touch {
        float: left;
        display: block;
        margin-right: 7.42297%;
        width: 100%; }
        #social-feeds #get-in-touch:last-child {
          margin-right: 0; } }
    #social-feeds #get-in-touch input {
      width: 100%;
      margin-bottom: 15px;
      height: 40px;
      padding-left: 15px;
      border-radius: 3px;
      border-style: solid;
      border-color: #c8c8c8;
      border-width: 1px;
      font-weight: 600;
      font-size: 1.3em; }
    #social-feeds #get-in-touch #intouch-comments {
      padding-top: 20px;
      padding-bottom: 100px; }
    #social-feeds #get-in-touch #intouch-button {
      float: right;
      color: white;
      font: 1.5em Oswald, serif;
      background-color: #e75640;
      padding: 7px 15px 7px 15px;
      margin-top: 7px;
      border-radius: 3px; }
    #social-feeds #get-in-touch #intouch-text {
      float: left;
      font-size: 1.3em;
      font-weight: 300;
      margin-top: 15px; }
  #social-feeds #facebook {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    overflow: hidden; }
    #social-feeds #facebook:last-child {
      margin-right: 0; }
    #social-feeds #facebook hr {
      display: none; }
    @media screen and (max-width: 768px) {
      #social-feeds #facebook {
        float: left;
        display: block;
        margin-right: 3.57866%;
        width: 48.21067%; }
        #social-feeds #facebook:last-child {
          margin-right: 0; }
        #social-feeds #facebook hr {
          display: block;
          width: 100%;
          border: 0;
          border-bottom: 1px dashed #969696;
          margin-bottom: 25px; } }
    @media screen and (max-width: 480px) {
      #social-feeds #facebook {
        float: left;
        display: block;
        margin-right: 7.42297%;
        width: 100%; }
        #social-feeds #facebook:last-child {
          margin-right: 0; } }
    #social-feeds #facebook .status {
      clear: both;
      height: 33%; }
      #social-feeds #facebook .status .picture {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%; }
        #social-feeds #facebook .status .picture:last-child {
          margin-right: 0; }
        #social-feeds #facebook .status .picture img {
          width: 100%; }
          @media screen and (max-width: 768px) {
            #social-feeds #facebook .status .picture img {
              display: none; } }
      #social-feeds #facebook .status .status-content {
        float: right;
        color: #4b4b4b;
        padding-top: 0;
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 65.88078%;
        margin-right: 0; }
        #social-feeds #facebook .status .status-content:last-child {
          margin-right: 0; }
        #social-feeds #facebook .status .status-content .status-title {
          font: 1.1em Oswald, serif;
          margin-bottom: 10px; }
        #social-feeds #facebook .status .status-content .status-text {
          font: 1.2em Open Sans, sans-serif;
          margin-bottom: 13px; }
        #social-feeds #facebook .status .status-content .status-link {
          margin-bottom: 15px;
          font: 1.2em Open Sans, sans-serif; }
          #social-feeds #facebook .status .status-content .status-link a {
            text-decoration: none;
            text-align: left;
            color: #e75640; }
          #social-feeds #facebook .status .status-content .status-link a:visited {
            color: #e75640; }
        @media screen and (max-width: 768px) {
          #social-feeds #facebook .status .status-content {
            width: 100%; }
            #social-feeds #facebook .status .status-content img, #social-feeds #facebook .status .status-content .status-title, #social-feeds #facebook .status .status-content .status-link {
              display: none; }
            #social-feeds #facebook .status .status-content .status-text {
              font-size: 1.3em;
              font-weight: 300;
              line-height: 25px;
              margin: 0 0 25px 0; }
              #social-feeds #facebook .status .status-content .status-text a {
                color: #e75640; } }

#cities-background {
  font: 1.4em Oswald, serif;
  text-align: center;
  background-color: #ededed;
  color: #4b4b4b;
  overflow: hidden;
  clear: both; }
  #cities-background .cities-title {
    clear: both;
    margin: 50px 0 40px 0;
    font-size: 2em; }
  #cities-background hr {
    clear: both;
    border-top: 2px dotted;
    color: #969696; }
    @media screen and (max-width: 768px) {
      #cities-background hr {
        display: none; } }
  #cities-background .cities {
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    background-color: #ededed; }
    #cities-background .cities:after {
      content: "";
      display: table;
      clear: both; }
    @media screen and (max-width: 768px) {
      #cities-background .cities {
        margin: 0 30px;
        margin-bottom: 50px; }
        #cities-background .cities li {
          font-size: 1.2em; } }
    #cities-background .cities ul {
      padding-left: 0; }
    #cities-background .cities li {
      display: inline-block;
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 14.70196%;
      margin-bottom: 20px; }
      #cities-background .cities li:last-child {
        margin-right: 0; }
      #cities-background .cities li:nth-child(6n) {
        margin-right: 0; }
      #cities-background .cities li:nth-child(6n+1) {
        clear: left; }
      @media screen and (max-width: 768px) {
        #cities-background .cities li {
          float: left;
          display: block;
          margin-right: 3.57866%;
          width: 22.316%; }
          #cities-background .cities li:last-child {
            margin-right: 0; }
          #cities-background .cities li:nth-child(6n) {
            margin-right: 3.57866%; }
          #cities-background .cities li:nth-child(6n+1) {
            clear: none; }
          #cities-background .cities li:nth-child(4n) {
            margin-right: 0; }
          #cities-background .cities li:nth-child(4n+1) {
            clear: left; } }
      #cities-background .cities li a {
        color: #4b4b4b; }
      #cities-background .cities li a:hover {
        color: #e75640;
        text-decoration: none; }
    @media screen and (max-width: 768px) {
      #cities-background .cities li:nth-last-child(-n+4) {
        display: none; } }

#nav-bottom {
  clear: both;
  background-color: #171717;
  text-decoration: none;
  margin-bottom: 1px;
  padding: 30px 0;
  font-size: 1.2em; }
  #nav-bottom a {
    color: #969696;
    padding: 0 15px; }
  #nav-bottom a:hover {
    color: white; }
  #nav-bottom nav {
    text-align: center; }

#social-bottom {
  margin: 0;
  margin-bottom: 1px;
  padding-top: 65px;
  padding-bottom: 20px;
  width: 100%;
  color: #969696;
  background-color: #171717;
  text-align: center; }
  #social-bottom #social-bigs {
    text-align: center;
    max-width: 920px;
    margin-left: auto;
    margin-right: auto; }
    #social-bottom #social-bigs:after {
      content: "";
      display: table;
      clear: both; }
    #social-bottom #social-bigs a {
      font-size: 1.2em;
      color: #969696; }
    #social-bottom #social-bigs .social-big {
      text-decoration: none;
      display: inline-block;
      padding-bottom: 50px;
      text-align: center;
      margin-right: 2%;
      margin-left: 2%; }
      #social-bottom #social-bigs .social-big img {
        display: block;
        margin-bottom: 10px; }
  #social-bottom #social-bottom-title {
    clear: both;
    font-size: 2.3em;
    font-weight: 300;
    color: white; }
  #social-bottom #social-bottom-subtitle {
    padding-bottom: 10px;
    font-size: 1.5em;
    font-weight: 300;
    color: white;
    margin-bottom: 30px;
    letter-spacing: 1px; }
  #social-bottom #contact {
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 2em;
    font-weight: 600;
    text-align: center; }
    #social-bottom #contact:after {
      content: "";
      display: table;
      clear: both; }
    #social-bottom #contact li {
      display: inline;
      width: 33%; }
      #social-bottom #contact li div {
        display: inline-block;
        text-align: center; }
        @media screen and (max-width: 768px) {
          #social-bottom #contact li div {
            width: 49%;
            margin: 0 0 40px 0;
            padding: 0; } }
    #social-bottom #contact a {
      color: #e75640; }
    #social-bottom #contact #contact-address {
      font-size: .7em;
      font-weight: 300;
      margin-left: 30px; }

#copyright {
  color: #969696;
  background-color: #171717;
  text-align: center;
  padding: 10px 0 10px 0; }

/*
    Need to reevaluate the amount of nesting in this project, for performance reasons
*/
body {
  width: 100%;
  font: 8pt Open Sans, sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0; }
  body ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #4b4b4b; }
  body :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #4b4b4b;
    opacity: 1; }
  body ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #4b4b4b;
    opacity: 1; }
  body :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #4b4b4b; }
  @media screen and (max-width: 768px) {
    body .mobile-remove {
      display: none !important; } }
  body a {
    text-decoration: none; }
