@import "variables";

#featured-neighborhoods{
            @include outer-container;
            font: 1.2em $oswald;
            color: $grey-title;
            margin-top: 50px;
            margin-bottom: 55px;
            @include media($tablet){
                margin: $tablet-margin;
                margin-bottom: 40px;
                font-size: 1em;
                font-weight: 400;

            }
            #neighborhoods-title{
                color: $grey-light;
                width: 100%;
                margin-left: 3px;
                margin-bottom: 40px;
                font-size: 2em;
                font-weight: 300;
                @include media($tablet){
                    margin-top: 40px;
                    margin-bottom: 30px;
                    font-size: 2.5em;
                }
            }
            .neighborhood{
                @include span-columns(3);
                @include media($tablet) {
                    margin: 0;
                    @include span-columns(4);
                    @include omega(3n);
                    margin-bottom: 30px;
                }
                img{
                    width:100%;
                }
                .neighborhood-title{
                    margin-top: 10px;
                    margin-bottom: 10px;
                    font-size: 1.5em;
                    a{
                        color: $grey-title;
                    }
                    a:hover{
                        color: $placester-red;
                        text-decoration-color: none;
                    }
                    @include media($tablet){
                        font-size: 1.8em;
                    }
                }
                .neighborhood-text{
                    font: .9em $font-stack;
                    @include media($tablet){
                        font-size: 1.2em;    
                    }
                }
            }
        }