@import "variables";

#main-slideshow{
            position: relative;
            #featured { 
                z-index: -1;
                width: 100%;
                height: 550px;
                background:  center center #f4f4f4 no-repeat; 
                overflow: hidden; 
                position: relative;
                img{
                    display: none;
                } 
                @include media($tablet){
                    min-height: 500px;
                }
            }
            #featured.orbit{ 
                background: none; 
                max-height: 550px;
                img{ 
                    display: block; 
                }
                @include media($tablet){
                    min-height: 500px;
                    img{
                        height: 100%;
                    }
                }
            }
            #slideshow-background{
                width: 100%;
                background-color: rgba(0, 0, 0, .6);
                z-index: 100;
                position: absolute;
                bottom: 61px;
                @include media($tablet){
                    background: none;
                    bottom: 30px;
                }
                #slideshow-links{
                    @include outer-container;
                    @include media($tablet){
                        margin: 0 60px;
                    }

                    .slideshow-link{
                        position: relative;
                        @include span-columns(4);
                        padding-top: 15px;
                        height: 70px;
                        display: inline; 
                        align: middle;
                        .unclicked{
                            color: white;
                            font: 2.5em $oswald;
                            align: middle;
                        }
                        .clicked{
                            color: $placester-red;
                        }
                        div:hover{
                            color: $placester-red;
                        }
                        .arrow{
                            position: absolute;
                            width: 17px;
                            height: 17px;
                            right: 0;
                            bottom: 25px;
                            padding-top: 15px;
                            margin-right: 20px;
                            background-image: url("../images/sidearrow.png");
                            background-size: auto;
                        }
                        .uparrow{
                            position: absolute;
                            width: 17px;
                            height: 17px;
                            right: 0;
                            bottom: 25px;
                            padding-top: 15px;
                            margin-right: 20px;
                            background-image: url("../images/uparrow.png");
                            background-size: auto;
                        }
                        @include media($tablet){
                            @include span-columns(8);
                            margin: 0 0 10px 0;
                            padding-left: 10px;
                            background-color: rgba(0, 0, 0, .6);
                        }
                    }
                    .slideshow-link:hover a{
                        color: $placester-red;
                    }
                    .slideshow-overlay{
                        display: none;
                        background-color: rgba(0, 0, 0, .6);
                        color: white;
                        position: relative;
                        font: 1em $oswald;
                        padding: 15px 20px 0px 20px;
                    }
                    .active{
                        margin-bottom: $mobile-overlay-height + 10px;
                    }
                    #slideshow-overlay1{
                        @include span-columns(7);
                        height: 100px;
                        margin-top: -170px;
                        font-size: 3em;
                        @include media($tablet){
                            @include span-columns(8);
                            height: $mobile-overlay-height;
                            margin: 16px 0 0 -10px; //adjust for slideshow-link padding
                            position: absolute;
                        }
                    }
                    #slideshow-overlay2{
                        @include span-columns(12);
                        height: 225px;
                        margin-top: -295px;
                        font-size: 3em;
                        p{
                            font: .5em $font-stack;
                            line-height: 25px;
                            margin-bottom: 0;
                            padding-bottom: 0;
                        }
                        a{
                            font: .4em $font-stack;
                            color: $placester-red;
                        }
                        @include media($tablet){
                            @include span-columns(8);
                            height: $mobile-overlay-height;
                            margin: 16px 0 0 -10px; //adjust for slideshow-link padding
                            position: absolute;
                        }
                    }
                    #slideshow-overlay3{
                        @include span-columns(7);
                        @include shift(5);
                        height: 350px;
                        margin-top: -420px;
                        font-size: 3em;

                        input {
                            padding-left: 10px;
                            height: 35px;
                            border-radius: 3px;
                            border-style: solid;
                            border-color: $grey-background;    
                            border-width: 1px;
                            font: .5em $font-stack;
                        }
                        #overlay-name{
                            @include span-columns(6);
                            margin-bottom: 15px;
                            margin-top: 25px;
                        }
                        #overlay-email{
                            @include span-columns(6);
                            @include omega();
                            margin-top: 25px;
                        }
                        #overlay-comments{
                            @include span-columns(12);
                            padding-bottom: 90px;
                            padding-top: 15px;
                        }
                        #overlay-button{
                            clear: both;
                            float: right;
                            color: white;
                            background-color: $placester-red;
                            padding: 5px 15px 5px 15px;
                            margin-top: 15px;
                            border-radius: 3px;
                            font-size: .6em;
                        }
                        @include media($tablet){
                            @include span-columns(8);
                            height: $mobile-overlay-height;
                            margin: 16px 0 0 -10px; //adjust for slideshow-link padding
                            position: absolute;
                        }
                    }
                }
            }
            .orbit-caption {
                font: 1.8em $oswald;
                text-align: left;
                vertical-align: middle;
                height: 60px;
                padding-top: 15px;
                display: none;
                @include media($tablet){
                    height: 0;
                    padding: 0;
                }
                .caption{
                    @include outer-container;
                    @include media($tablet){
                        display: none;
                    }
                }
            }
            div.timer { 
                display:none;
            }
            .orbit-bullets {
                display: none;
                @include outer-container;
                position: absolute;
                bottom: 13px;
                left: 80%;
                z-index: 1001; //one more than .orbit-caption 
                @include media($tablet){
                    display: none;
                }
            }
            div.slider-nav span.left{
                border-radius: 0 10px 10px 0;
                @include media($tablet){
                        display: none;
                    }
            }
            div.slider-nav span.right{
                border-radius: 10px 0 0 10px;
                @include media($tablet){
                    display: none;
                }
            }
            div.slider-nav span.right:hover {
                //background: url(../images/rightarrow-red.png);
                }

            div.slider-nav span.left:hover {
                //background: url(../images/leftarrow-red.png);
                }
        }