
$font-stack: Open Sans, sans-serif;
$oswald: Oswald, serif;
$primary-color: #334;
$block-heading-size: 21px;
$center-width: 65%;
$black: rgb(23, 23, 23);
$grey-background: rgb(237,237, 237);
$grey-border: rgb(232,232, 232);
$grey-search-border: rgb(200,200, 200);
$grey-light: rgb(150, 150, 150);
$grey-title: rgb(75, 75, 75);
$placester-red: rgb(231, 86, 64);
$tablet: new-breakpoint(max-width 768px 8);
$mobile: new-breakpoint(max-width 480px 4);
$tablet-margin: 0 30px;